@import "../base";
@import "~bootstrap/scss/nav";

.nav-tabs {
  border: transparent;

  .current-segment {
    height: map-get($spacers, 2);
    bottom: -($spacer * 2.5);
    border-radius: map-get($spacers, 1);
    background: $green;
    position: absolute;
    transition: transform 400ms;
  }

  .nav-item {
    margin-bottom: map-get($spacers, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .nav-link {
    color: $brand-gray-light;
    border: transparent;
    padding: 0;

    &:hover{
      color: darken($brand-gray-light, 10%);
      cursor: pointer;
      &:after {
        background-color: darken($success, 10%);
      }
    }

    &.disabled {
      color: $text-muted;
      background-color: transparent;
      border-color: transparent;
      &:after {
        display: none;
      }
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $success;
    background-color: transparent;
    border-color: transparent;
  }

  &-engage {
  
      .nav-link {
        display: flex;
  
        padding: 8px;
        justify-content: center;
  
        font-size: 16px;
        text-transform: uppercase;

        color: $brand-gray-darker;
  
        border-bottom: none;
  
        &.active {
          color: $blue;
          font-weight: bold;
  
          box-sizing: border-box;
          border-bottom: 5px solid $blue;
          background-color: $brand-blue-lighter;
        }

        &:hover {
          cursor: pointer;
          color: $blue;
          font-weight: bold;
  
          border-bottom: 5px solid $blue;
        }
  
      }
  }

  &-exceed {
    .nav-link{
      padding: 8px;
      color: $brand-gray-darker;
      font-size: 16px;
      text-transform: uppercase;
      &.active {
        color: $brand-orange-dark;
        font-weight: bold;
        background-color: rgba($brand-orange-lighter, 0.5);;
        border-bottom: 5px solid $brand-orange-dark;
      }
      &:hover {
        cursor: pointer;
        color: $brand-orange-dark;
        border-bottom: 5px solid $brand-orange-dark;
      }
    }
  }

  &-expand {
    .nav-link {
      padding: 8px;
      font-size: 16px;

      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      color: $brand-gray-darker;
      box-sizing: border-box;

      &.active {
        color: $brand-green-dark !important;
        font-weight: bold;
        border-bottom: 5px solid $brand-green-dark !important;
        background-color: rgba($brand-green-light, 0.5);;
      }

      &:hover {
        cursor: pointer;
        color: $brand-green-dark !important;
        border-bottom: 5px solid $brand-green-dark !important;
      }
    }
  }
}


.tab-sm {
  .nav-tabs-expand .nav-item {
    min-width: 100px;
    .nav-link{
      font-size: 12px;
      line-height: 12px;
      padding: 16px 16px 13px 16px;
    }
  }
}