@import "../base";
@import "~bootstrap/scss/nav";

.nav-tabs {
  border: transparent;

  .current-segment {
    height: map-get($spacers, 2);
    bottom: -($spacer * 2.5);
    border-radius: map-get($spacers, 1);
    background: $green;
    position: absolute;
    transition: transform 400ms;
  }

  .nav-item {
    margin-bottom: map-get($spacers, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}


.tab-sm {
  .nav-tabs-expand .nav-item {
    min-width: 100px;
    .nav-link{
      font-size: 12px;
      line-height: 12px;
      padding: 16px 16px 13px 16px;
    }
  }
}
