.ac-side-menu {
    width: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px 16px;
  
    &-item.active.exceed {
      background: #ffe3d2;
      img {
        filter: invert(99%) sepia(94%) saturate(7449%) hue-rotate(25deg) brightness(87%) contrast(60%);
      }
    }
    &-item-text.exceed:hover {
      color: $brand-orange-darker;
    }
    &-item-text-active.exceed {
      color: #cc4600;
    }
    &-item-text-active.exceed:hover {
      color: #cc4600;
    }
    &-item.active.expand {
      background: #b5efd3;
    }
    &-item-text.expand:hover {
      color: #238661;
    }
    &-item-text-active.expand {
      color: #238661;
    }
    &-item.active.nexus {
      background: $brand-gray-lighter;
    }
    &-item-text.nexus:hover {
      color: $brand-gray-dark;
    }
    &-item-text-active.nexus {
      color: $brand-gray-darker;
    }    
  
    &-category {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  
      width: 100%;
      padding-top: 16px;
  
      &-title {
        display: flex;
        align-items: center;
  
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 15px;
        color: $urban-gray-base;
        text-transform: uppercase;
      }
    }
    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
  
      width: 100%;
      padding-left: 8px;
      border-radius: 8px;
  
      &-text {
        padding: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        color: $urban-gray-dark;
        width: 100%;
  
        &-active {
          padding: 8px;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          color: $brand-blue-darker;
        }
      }
    }
  
    &-end {
      width: 100%;
      height: 1px;
      background-color: $urban-gray-light;
    }
    .active {
      background: rgba(164, 200, 255, 0.5);
    }
  }
